.characters{
      h1{
      text-align: center;  
      margin-bottom: 2rem;
      }

      ul{
      list-style: none;

            li{   
            display: flex;
            justify-content: center;
            padding-top: 1rem;
            height: 7rem;
            width: 30rem;
            margin: 1rem 0;
            border: 1px solid #03055e10;
            border-radius: 10px;
            background-color: #e7c6ff67;
            box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);

                  .title{
                  font-weight: 600;
                  }
            }
      }
}


@media screen and (max-width:900px){
     .characters{
         ul{
               li{
                  height: 8rem;
                  padding-top: 1.5rem;
                  margin: 1.5rem 0;
                  border-radius: 7px;
            }
         }
      }
} 

@media screen and (max-width:700px){
  .characters{
      h1{  
      margin-bottom: 1rem;
      }

      ul{
            margin-left: 1.5rem;

            li{   
            padding-top: 1rem;
            height: 6rem;
            width: 15rem;
            margin: 2rem 0;
            border-radius: 7px;
            font-size: 1rem;
            }
      }
}   
} 
